.main-header {
    display: block;
    text-transform: uppercase;
    font-size: 60px;
    line-height: 70px;
    padding-top: 40px;
}

.center {
    text-align: center;
}

.flr {
    float: right;
}

.hidden {
    display: none;
}

.tiny {
    margin-top: 40px;
    margin-right: 20px;
    font-size: 12px;
    text-align: right;
}

.floating-text {
    font-size: 60px;
    line-height: 100px;
    background-color: black;
    color: white;
    width: 100%;
    text-align: center;
    top: 372px;
    z-index: 150;
    text-transform: uppercase;
    font-weight: bold;
    height: 100px;
}

.floating-text span {
    display: none;
}

.rating {
    height: 400px;
    width: 100%;
    display: inline;
    position: absolute;
    left: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.32);
    transition: opacity 0.5s ease-in;
    text-align: center;
    line-height: 400px;
    font-size: 70px;
}

#splash {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 900px;
    text-align: center;
    top: 0;
    background-color: rgba(0, 0, 0, 0.92);
    color: white;
    display: none;

    transition: opacity 0.5s ease-in;
}

#splash h1 {
    display: none;
    font-size: 60px;
    width: 100%;
    position: absolute;
    top: 250px;
}

#splash i {
    position: absolute;
    top: 410px;
    font-size: 50px;
    margin-left: -25px;
}

#splash h3 {
    position: absolute;
    top: 450px;
    width: 100%;
}

#splash.active {
    opacity: 1;
    z-index: 500;
    display: table;
}

#guide {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 0;
    background-color: rgba(0, 0, 0, 0.99);
    color: white;
    z-index: 600;
    height: 1000px;
    display: none;
}

#guide h1 {
    font-size: 60px;
    width: 100%;
}

#guide p {
    font-size: 18px;
    line-height: 30px;
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
    color: #9E9E9E;
    text-align: left;
}

#guide .postscriptum {
    padding-top: 20px;
    color : white;
}

#guide #continue {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    background-color: #2F32BB;
    padding: 15px;
    border-radius: 3px;
    display: block;
    width: 300px;
    margin: auto;
    margin-top: 60px;
    font-size: 30px;
    transition: background 0.5s ease-in;
}

#guide #continue:hover {
    background-color: #2332AA;
}

.rating.hovered {
    opacity: 1;
}

.rating.overlayed {
    background-color: rgba(0, 0, 0, 1);
    opacity: 1;
}

.in-da-club {
    background: url(/images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    height: 400px;
    background-position: right;
    z-index: 300;
}

.white {
    color: white;
}
