.wave {
    background: -webkit-radial-gradient(center, ellipse cover,rgb(248, 255, 133) 0%, rgba(255, 255, 255, 0) 65%);
    width: 100%;
    height: 100%;
    display: inline-block;
    overflow-x: hidden;
    height: 400px;
    background-position: right;
    position: absolute;
    left: 0;
    background-position-y: 262px;
    background-repeat: no-repeat;

    transition: opacity 0.2s ease-in;
}

.wave.on {
    transition: opacity 0.15s ease-in;
}

.strobe {
    height: 100%;
    width: 100%;
    display: inline;
    background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.15) 0%,rgb(255, 255, 255) 100%);

    transition: opacity 0.6s ease-in;
}

.strobe.on {
    transition: opacity 0.1s ease-in;
}

.red-led {
    height: 100%;
    width: 100%;
    display: inline;
    background: -webkit-radial-gradient(top, ellipse, rgb(255, 56, 56) 0%,rgba(66, 48, 48, 0) 18%);
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    height: 400px;
    background-position: right;
    position: absolute;
    left: 0;
    transition: opacity 0.3s ease-out;
    background-position-x: 220px;
}

.green-led {
    height: 100%;
     width: 100%;
    display: inline;
    background: -webkit-radial-gradient(top, ellipse, rgb(76, 255, 88) 0%,rgba(66, 48, 48, 0) 18%);
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    height: 400px;
    background-position: right;
    position: absolute;
    left: 0;
    transition: opacity 0.2s ease-out;
    background-position-x: -140px;
}

.green-led.on {
    transition: opacity 0.15s ease-in;
}

.red-led.on {
    transition: opacity 0.1s ease-in;
}

#metronome {
    transition: opacity 0.05s;
    opacity: 0;
}

#metronome.on {
    opacity: 1;
}

.off {
    opacity: 0;
}
