<div>
    <div class="pure-g in-da-club">
        <div class="strobe first"></div>
        <div class="red-led first"></div>
        <div class="green-led first"></div>
        <div class="wave first"></div>
        <div id="first" class="rating" data-id="<%= @first_id %>" data-opponent="<%= @second_id %>">Tenhle!</div>
    </div>

    <div class="floating-text"><span>Který rytmus je hezčí?</span></div>

    <div class="pure-g in-da-club">
        <div class="strobe second"></div>
        <div class="red-led second"></div>
        <div class="green-led second"></div>
        <div class="wave second"></div>
        <div id="second" class="rating" data-id="<%= @second_id %>" data-opponent="<%= @first_id %>">Tenhle!</div>
    </div>


    <div id="splash" class="active">
        <h1>Díky za pomoc! Zkusíme další?</h2>
        <i class="fa fa-cog fa-spin"></i>
        <h3>...chvilku strpení<span id="loading-text">, <%= @loading_text %></span>...</h3>
    </div>

    <div id="guide">
        <h1>Vítejte!</h1>
        <p>Ať už jste se sem dostali jakkoliv, jsem rád, že jste tady.
           Právě jste se rozhodli mi pomoci se získáváním dat k mé bakalářské práci. Gratuluji!
        </p>
        <h2>O co jde?</h2>
        <p>
           Ve zkratce - snažím se vytvářet pomocí algoritmů rytmy. Jako když hraje bubeník - několik různě velkých
           bubínků, k tomu tiká metronom a bubeník do nich podle metronomu bouchá - a když ve správnou chvíli udeří
           do správných bubínků, vznikne to "umění".
       </p>
       <p>
           Něco podobného dělá můj algoritmus. Akorát mám místo bubínků světla, aby vás z toho nebolela hlava!
       </p>
       <h2>Co tu děláte vy?</h2>
       <p>
           To je jednoduché. Algoritmů, které by mohly vytvářet "umění" jsem navrhl několik - a potřebuju pomoct rozhodnout,
           který funguje dobře a který ne.
       </p>
       <p>
           Proto jsem připravil tuhle aplikaci, která vám vždycky ukáže dvě rytmické sekvence - sady blikajících světýlek.
           Vy máte za úkol jen jedno - z předložené dvojice vybrat tu, která se vám líbí víc.
       </p>
       <p>
           Žádný strach, není to žádné zkoušení jako ve škole. Není tu žádná správná nebo špatná odpověd. Pusťte si na pozadí
           příjemnou hudbu a kochejte se!
       </p>
       <p class="postscriptum">
           P.S.: pokud chcete zkrátit nahrávací časy aplikace, doporučuji prohlížeč Chrome
       </p>
        <a href="#" id="continue">Jdeme na to!</a>
    </div>
</div>

<%= debug @cores %>
<%= debug @evals %>

<script>
    $(document).ready(function() {
        var first_rhythm = <%= raw @first_rhythm %>;
        var second_rhythm = <%= raw @second_rhythm %>;

        console.log('FIRST debug:');
        $.each(first_rhythm, function(key, val) {
            console.log('v-------' + key + '-------v');
            console.log(val);
        });

        console.log('SECOND debug:');
        $.each(second_rhythm, function(key, val) {
            console.log('v-------' + key + '-------v');
            console.log(val);
        });

        APP.init(first_rhythm, second_rhythm);
    });
</script>
