<!DOCTYPE html>
<html>
<head>
  <title>Bakalarka</title>
  <!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!-- jquery cookie -->
  <script src="js/jquery.cookie.js"></script>

  <!-- PURE FRAMEWORK -->
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">

  <!-- FONT AWESOME -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <!-- css -->
  <link rel="stylesheet" href="css/common.css">
  <link rel="stylesheet" href="css/instrument.css">

  <!-- js -->
  <script src="js/waa-clock.js"></script>
  <script src="js/app.js"></script>
  <script src="js/rhythm.js"></script>
  <script src="js/instrument.js"></script>
  <script src="js/listeners.js"></script>
  <script src="js/guide.js"></script>
</head>
<body>

<%= yield %>

</body>
</html>
